.breadcrumbs-list {
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    margin-bottom: 25px;
}

.breadcrumbs-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px; /* identical to box height, or 129% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--orange);
}
.breadcrumbs-item:not(:last-child):after {
    content: " / ";
    color: var(--dark);
}

.breadcrumbs-link:not([href]) {
    color: var(--dark);
    opacity: 0.5;
}


h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px; /* identical to box height, or 122% */
    margin-bottom: 15px;
}

h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    margin: 60px 0 20px 0;
    padding: 0;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin: 40px 0 20px 0;
}


.article__lead {
    font-size: 22px;
    line-height: 30px; /* or 136% */
    margin-bottom: 18px;
}

.article__meta {
    padding: 20px 0;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(35, 32, 31, 0.1);
}

.article__meta_author-pic {
    border-radius: 50%;
}
.meta-info {
    margin: 0 auto 0 20px;
    padding: 0;
}

.meta-info__description {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px; /* identical to box height, or 133% */
}
.meta-info__description:not(:last-child) {
    margin-bottom: 2px;
}
.meta-info__description:last-child {
    opacity: 0.6;
}

.meta-info__socials-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 395px;
}

.meta-info__socials-item {
    border: 1px solid rgba(35, 32, 31, 0.1);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    
}

.meta-info__socials-link {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contents-list {
    padding: 0 0 0 24px;
    margin: 0;
}

.contents-item {
    font-weight: 500;
    margin-bottom: 8px;
    padding-left: 5px;
}

.contents-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px; /* or 130% */
    text-decoration-line: underline;
    color: var(--blue);
}
.contents-link[href]:hover,
.contents-link[href]:focus-visible {
    border: none;
}



.article__note {
    background-color: white;
    padding: 20px;
}

.article__note-text {
    text-align: center;
    padding: 0;
    margin: 0;
}
.article__note-text:not(:last-child) {
    margin-bottom: 10px;
}

.article__note-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px; /* identical to box height, or 125% */
    text-align: center;
    text-decoration-line: underline;
    color: #1C5F87;
}

.article__note-link[href]:hover,
.article__note-link[href]:focus-visible {
    border: none;
}


.block-with-right-aside {
    position: relative;
}

.right-aside {
    position: absolute;
    top: 0;
    right: -270px;
    width: 170px;
}
.right-aside-link {
    font-size: 18px;
    line-height: 24px; /* or 133% */
    text-decoration-line: underline;
    color: var(--blue);
}
.right-aside-link[href]:hover,
.right-aside-link[href]:focus-visible {
    border: none;
}


.figure {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}
.figure__caption {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px; /* identical to box height, or 129% */
}


.pie-chart  {
    margin-bottom: 40px;
    margin-top: 40px;
}

.formula {
    background-color: var(--white);
    padding: 16px;
    font-weight: 500;
    font-size: 28px;
    line-height: 45px; /* identical to box height, or 161% */
}
var {
    font-style: normal;
    padding: 0;
}

.formula__desc {
    margin-left: 30px;
    font-weight: 500;
font-size: 20px;
line-height: 28px;
}

.formula__item {
    display: flex;
}
.formula__item:not(:last-child) {
    margin-bottom: 10px;
}

.formula__item-meaning {
    padding: 0;
    margin: 0;
}

.formula__item-meaning::before {
    content: " - ";
}

.article-footer__meta-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
}
.article-footer__meta-info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.article-footer__meta-info_name {
    margin: 0;
    padding: 0;
    margin-right: 5px;
}
.article-footer__meta-info_description {
    margin: 0;
    padding: 0;
}
.article-footer__meta-info_description-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
}
.article-footer__meta-info_description-item {
    margin: 0;
    padding: 0;
}
.article-footer__meta-info_description-item:not(:last-child):after {
    content: ",";
}
.article-footer__meta-info_description-view {
    position: relative;
    padding-left: 25px;
}
.article-footer__meta-info_description-view::before {
    content: "";
    background-image: url(../img/eye-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.article-footer {
    padding: 60px 0 ;
    border-bottom: 1px solid rgba(35, 32, 31, 0.1);
}