@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Ptrootui.woff") format('woff');
}
@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Ptrootuimedium.woff") format('woff');
}
@font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Ptrootuibold.woff") format('woff');
}

:root {
    --dark: #23201F;
    --orange: #FA5B3D;
    --white: #FAFAFA;
    --blue: #1C5F87;
    --blue-rgb: 28, 95, 135;
    --light-blue: #CFE1EB;
}

body {
    position: relative;
    min-height: 100vh;
    width: 1170px;
    padding: 0 98px;
    margin: 0 auto;

    background-color: var(--white);
    
    font-family: 'PT Root UI', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px; /* or 140% */
    color: var(--dark);

    outline: 1000px solid lightgray;
}

main {
    width: 970px;
    margin: 0 auto;
    padding: 50px 0 230px 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.list-reset {
list-style: none;
padding: 0;
margin: 0;
}

.link-reset {
color: inherit;
text-decoration: none;
}

img {
display: block;
}

mark {
    background-color: var(--light-blue);
}

.width-700 {
    width: 700px;
}


.two-columns {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.stripped-bg {
    padding: 5px;
    background-color: var(--blue);
    /* background-image: repeating-linear-gradient(45deg, 7px var(--blue), 7px var(--dark)); */
    background-image: repeating-linear-gradient(-45deg, var(--blue) 0, var(--blue) 10px, var(--dark) 10px, var(--dark) 13px);
    margin-bottom: 30px;
}

[class*="-link"][href]:hover,
[class*="-link"][href]:focus-visible {
    opacity: 0.7;
    border-bottom: 1px solid var(--dark);
}
[class*="-link"][href]:active {
    opacity: 0.4;
}
[class*="-link"][href]:has(img):hover,
[class*="-link"][href]:has(img):focus-visible {
    border: none;
}



[class*="-btn"]:hover,
[class*="-btn"]:focus-visible {
    opacity: 0.7;
    cursor: pointer;
}
[class*="-btn"]:active {
    opacity: 0.4;
}
[class*="-btn"]:disabled {
    background-color: lightgray;
    color: rgb(78, 78, 78);
    cursor: default;
}