.table-stripped {
    border-collapse: collapse;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 20px; /* identical to box height, or 125% */
}
.table-stripped thead {
    font-weight: 500;
}
.table-stripped td {
    /* border: 1px solid rgba(35, 32, 31, 0.6); */
    padding: 10px 20px;
    text-align: center;
}
.table-stripped  .first-col {
    text-align: left;
    width: 204px;
    box-sizing: border-box;
}
.table-stripped  :not(.first-col){
    width: 122px;
    box-sizing: border-box;
}
.table-stripped thead td {
    padding: 0 20px 27px 20px;
}
.table-stripped tbody tr:nth-child(odd) {
    background-color: var(--light-blue);
    border-radius: 4px;
}
.table-stripped td:first-child {
    border-radius: 4px 0 0 4px;
}
.table-stripped td:last-child {
    border-radius: 0 4px 4px 0;
}
